
$fixedcolumns-header-color: white !default;
$fixedcolumns-body-color: white !default;

// Make sure the fixed columns aren't transparent
table.dataTable {
    thead,
    tfoot {
        tr > .dtfc-fixed-left,
        tr > .dtfc-fixed-right {
            top: 0;
            bottom: 0;
            z-index: 3;
            background-color: $fixedcolumns-header-color;
        }
    }

    tbody {
        tr > .dtfc-fixed-left,
        tr > .dtfc-fixed-right {
            z-index: 1;
            background-color: $fixedcolumns-body-color;
        }
    }
}

div.dtfc-left-top-blocker,
div.dtfc-right-top-blocker {
    background-color: $fixedcolumns-header-color;
}

html.dark {
    table.dataTable {
        thead,
        tfoot {
            tr > .dtfc-fixed-left,
            tr > .dtfc-fixed-right {
                background-color: var(--dt-html-background);
            }
        }
    
        tbody {
            tr > .dtfc-fixed-left,
            tr > .dtfc-fixed-right {
                background-color: var(--dt-html-background);
            }
        }
    }
    
    div.dtfc-left-top-blocker,
    div.dtfc-right-top-blocker {
        background-color: var(--dt-html-background);
    }
}
