table.dataTable {
	border-left-width: 0px !important;
	tr {
		border-left-width: 0px;

		th:first-child,
		td:first-child {
			border-left: 1px solid rgba(34, 36, 38, 0.15) !important;
		}

		th{
			background-color: rgb(249, 250, 251);
		}
		td {
			background-color: white;
		}

		th.dtfc-fixed-left,
		th.dtfc-fixed-right {
			z-index: 1;
		}
	}
}

div.dtfc-right-top-blocker {
	border-bottom: none !important;
}

tr.dt-rowReorder-moving {
    td.dtfc-fixed-left,
    td.dtfc-fixed-right {
        border-top: 2px solid #888 !important;
        border-bottom: 2px solid #888 !important;
    }
    td.dtfc-fixed-left:first-child {
        border-left: 2px solid #888 !important;
    }
    td.dtfc-fixed-right:last-child {
        border-right: 2px solid #888 !important;
    }
}