// make the row transparent to make the message below visible
table.dataTable.display tbody tr.DTFC_NoData {
  background-color: transparent;
}

tr.even td {
    background-color: #ffffff;
}

tr.odd td {
    background-color: #f9f9f9;
}

tr.selected td {
    background-color: #a6b4cd;
}

thead th {
	background-color: white;
}

tfoot th {
	background-color: white;
}
