
@import 'fixedColumns.dataTables.scss';

table.dataTable {
	border-left-width: 0px !important;

	tr {
		border-left-width: 0px;

		th:first-child,
		td:first-child {
			border-left: 1px solid rgba(34, 36, 38, 0.15) !important;
		}
	}
}

div.dtfc-top-blocker {
	border-bottom: none !important;
}

tr.dt-rowReorder-moving {
    td.dtfc-fixed-start,
    td.dtfc-fixed-end {
        border-top: 2px solid #888 !important;
        border-bottom: 2px solid #888 !important;
    }

    td.dtfc-fixed-start:first-child {
        border-left: 2px solid #888 !important;
    }

    td.dtfc-fixed-end:last-child {
        border-right: 2px solid #888 !important;
    }
}